<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.monexa"> <!-- Ganti sesuai package kamu -->

    <application
        android:label="monexa"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <!-- Flutter UI background theme -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- Intent filter untuk app launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Intent filter untuk menangani callback Google OAuth -->
        <activity android:name="com.supabase.flutter.supabase_flutter.SupabaseDeepLinkingActivity">
            <intent-filter android:label="monexa">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="io.supabase.monexa" /> <!-- Sesuaikan dengan URL Scheme -->
            </intent-filter>
        </activity>

        <!-- Flutter generated plugin registrant -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

    <!-- Untuk mendukung fitur text processing oleh plugin Flutter -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

</manifest>
